@model IEnumerable<DotNetAppSqlDb.Models.Todo>

@{
    ViewBag.Title = "Index";
}

<h2>Todos</h2>

<p>
    <!-- @Html.ActionLink("Create New", "Create") -->
    @Html.ActionLink("新規作成", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <!-- @Html.DisplayNameFor(model => model.Description) -->
            詳細
        </th>
        <th>
            <!-- @Html.DisplayNameFor(model => model.CreatedDate) -->
            作成日時
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.ActionLink("編集", "Edit", new { id=item.ID }) |
            @Html.ActionLink("詳細", "Details", new { id=item.ID }) |
            @Html.ActionLink("削除", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
